body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:40px;
    background-color: #e8a8a8;
}

.primary-button:link{
    color:green;
}

.primary-button:hover{
     color:red;
     background-color: #161616;
}